<!DOCTYPE html>
<html>
<head>
    <title>Menu Đồ Ăn Nhanh</title>
    </head>
<body>
    <h1>Thực đơn hôm nay</h1>
    <a href="/ban-do/">Xem bản đồ cửa hàng</a>
    
    <div class="menu-container">
        {% for mon in mon_an %}
            <div class="card">
                <h3>{{ mon.ten_mon }}</h3>
                <p>Giá: {{ mon.gia }} VNĐ</p>
                {% if mon.hinh_anh %}
                    <img src="{{ mon.hinh_anh.url }}" width="150px">
                {% endif %}
            </div>
        {% endfor %}
    </div>
</body>
</html>